# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py.class

# Тесты и линтеры
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp
*.swo

# ОС
.DS_Store
Thumbs.db

# Виртуальные окружения
venv/
env/
.venv/